<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="$(TargetDir)ArtisanCode.Grass.dll" #>
<#@ import namespace="Grass" #>
<#@ output extension=".cs" #>

<#= Grass.Static("ArtisanCode.UsingGrass.TestStaticClass, ArtisanCode.UsingGrass, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null") #>