<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="$(TargetDir)ArtisanCode.Grass.dll" #>
<#@ import namespace="GrassTemplate" #>
<#@ output extension=".cs" #>

<#= Grass.Static("ArtisanCode.UsingGrass.TestStaticClass, ArtisanCode.UsingGrass", Visibility.Internal) #>