<#@ template debug="false" hostspecific="true" #>
<#@ assembly name="$(TargetDir)ArtisanCode.Grass.dll" #>
<#@ output extension="/" #>
<#@ import namespace="GrassTemplate" #>

<# Grass.StaticCodeGen(this.Host, "ArtisanCode.UsingGrass.TestStaticClass, ArtisanCode.UsingGrass"); #>