<#@ template debug="false" hostspecific="true" #>
<#@ assembly name="$(TargetDir)ArtisanCode.Grass.dll" #>
<#@ output extension="/" #>
<#@ import namespace="GrassTemplate" #>

<# 
var codeGenOptions = new GrassTemplate.GrassOptions() { UseDynamic = true };

Grass.Static(this.Host, "ArtisanCode.UsingGrass.TestStaticClass, ArtisanCode.UsingGrass", codeGenOptions); 
#>