<#@ template debug="false" hostspecific="true" #>
<#@ assembly name="$(TargetDir)ArtisanCode.Grass.dll" #>
<#@ output extension="/" #>
<#@ import namespace="GrassTemplate" #>

<# 
var codeGenOptions = new GrassTemplate.GrassOptions() 
{ 
	UseDynamic = false
};

Grass.Clean(this.Host); 

Grass.Static(this.Host, "System.IO.File", codeGenOptions);
Grass.Static(this.Host, "System.IO.Directory", codeGenOptions); 
#>